### How to open jupyter notebook

### 1) open cmd
2) type jupyter notebook and press enter

In [1]:
print("Hello world")

Hello world

### adding sell on jupyter notebook

### shift+enter

In [ ]:
There are differennt types of datatypes in python
1) Pre define datatype
2) user define data type

### 1) Pre define datatype

In [ ]:
Data types:
    
    1) int 1,2,3,100,200,-2
    2) float 6.2,100.2,11.2
    3) str "Bhakti barve","efhfn","""bhakti""",'xyz'
    4)list [21,"Bhakti",5.5]
    5)tuple ('apple','kiwi','mango')
    6) dict {'bhakti':21,'mango':20,'apple':20} 
        1)Dict Are ALOS NOT ORDER
        2) key does not contain dublicate values/key alwys unique
    7) set {10,20,30,40,10} - it does not contain dublicates
    8) bool  True / False
    9) None

In [2]:
Bhakti = 100
print(a)

100

In [ ]:
a_1 = 100
vishal_10 = 200

In [ ]:
vishal = 100

### variable

In [ ]:
rule of naming
1) Name should start only with alphabets
2) special chars use in betna name
3) never user a name wich is a python keyword

### int

In [14]:
a= [1,2,3,4,5,6,7]
print(a)

(1, 2, 3, 4, 5, 6, 7)
<class 'tuple'>

In [4]:
bhakti = [100,200,400]
print(bhakti)

[100, 200, 400]

### float

In [5]:
x = [1.20,11.40,10.44]
print(x)

[1.2, 11.4, 10.44]

In [18]:
y = 4.5
print(type(y))

<class 'float'>

### str

In [6]:
bhakti = "bhakti barve"
print(bhakti)

bhakti barve

### list

In [27]:
xyz = [12,'bhakti',21.2,None]
print(x)

400

In [28]:
xyz[2]='vishal'

In [29]:
print(xyz)

[12, 'bhakti', 'vishal', None]

### Tuple

In [37]:
aaa = (1,2,3,4,5,7)
print(aaa)

(1, 2, 3, 4, 5, 7)

### dict

In [19]:
vishal = {'vishal':21,'mango':21,'banana':20} #key alwas unique
print(vishal)
print(type(vishal))

{'vishal': 21, 'mango': 21, 'banana': 20}
<class 'dict'>

### set

In [21]:
a = (1,2,3,4,5,6,7,7,7)
print(a)
print(type(a))

(1, 2, 3, 4, 5, 6, 7, 7, 7)
<class 'tuple'>

In [17]:
x = 400
print(type(x))

<class 'int'>

### Type() : we use to identify which datatype is dec..

### Immutable : Not edit , not update , not added

In [ ]:
1)tuple
2)int
3)float
4)str
5)None
6)bool

### mutable : Edit,update,add,delete

In [ ]:
1)list
2)dict
3)set

In [22]:
a=100
b=200
c=a+b
print(c)

300

In [48]:
a=100
b=400
c=a-b
print(c)

-300

In [49]:
a=100
b=200
c=a*b
print(c)

20000

In [51]:
a=100
b=2
c=a/b
print(c)

50.0

In [52]:
a=100
b=2
c=a//b
print(c)

50

In [38]:
a = 'a'
print(type(a))

<class 'str'>

In [39]:
rrr= (1,2,4,5,6,78,)
print(type(rrr))

<class 'tuple'>

In [41]:
sss= ['vishal','xyz','zzz',10,10.100]
print(type(sss))

<class 'list'>

In [42]:
bhakti= {1,2,3,4,5,6,8,88}
print(type(bhakti))

<class 'set'>

In [45]:
a=10.10

In [46]:
print(type(a))

<class 'float'>